* {
    margin: 0;
    padding: 0;
}

html, body, #root {
    height: 100%;
    font-family: 'OpenSans-Light', serif;
    overflow: auto;
}

.container {
    overflow: auto;
    min-height: calc(100% - 77px);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'OpenSans-Regular', serif;
}

@font-face {
    font-family: 'OpenSans-Light';
    font-style: normal;
    font-weight: normal;
    src: url('./common/fonts/OpenSans-Light.ttf')
}

@font-face {
    font-family: 'OpenSans-Regular';
    font-style: normal;
    font-weight: bold;
    src: url('./common/fonts/OpenSans-Regular.ttf')
}

